<div class="container">
<p id="notice"><%= notice %></p>
<h2>You are currently standing at...</h2>
<p>
  <%= @location.my_location %>
</p>

<h2>The closest buses are...</h2>

<% if @bus_count == 0 %>
<p>... not really that close. It may be best to call Uber.</p>
<% end %>

<% @nearby_buses.each do |bus| %>
<p>
  <strong>Route</strong>: <%= bus ["ROUTE"] %><br/>
  <strong>Vehicle #</strong>: <%= bus ["VEHICLE"] %><br/>
  <strong>Next Stop:</strong>: <%= bus ["TIMEPOINT"] %><br/>
</p>

<% end %>
		 <%= link_to 'New Location', new_location_path, class: "btn btn-success" %>
</div>
	
